$w : 100%;
$h:167px;
*{margin: 0;padding: 0;}
a{text-decoration: none;}
#header{
    width: $w;
    height: $h;
    background:url("../images/body-bg.jpg");
      .logo{
            float: left;
        }
        
    .headerTop{
        width: 1201px;
        height: 87px;
        margin:0 auto;
        
        .right{ 
            width: 379px;
            height: 87px;
            float: right;
            background: url(../images/cart.png) no-repeat 255px 17px;
            
            .nav{
               margin-top: 28px;
               width: 210px;
               height: 25px; 
               border-right: 1px solid #dbdbdb;
               font-size:12px;
               line-height:25px;
               float: left;
                       a{
                           color: #9c9c9c;
                           &:hover{
                               color: white;
                           }
                       }
            }
            
            #cart{
                float: right;
                width: 90px;
                height: 25px;
                margin-top: 28px;
                line-height: 25px;
                font-size: 11px;
                text-align: right;
            }    
            
        }
            
        
    }
    .headerBottom{
        width: $w;
        height: $h - 87px;
        background: #efefef;
        
        .box{
            width: 1201px;
            height: $h - 87px;
            margin: 0 auto;
            border-bottom:1px solid #147b14;
            background:url(../images/100.png) no-repeat right bottom;
            ul{
                width: 480px;
                height: 34px;
                font-size: 12px;
                float: left;
                margin-top: 46px;
                overflow: hidden;
               
                
                li{
                    list-style: none;
                    float: left;
                    line-height: 34px;
                    font-weight: 600;
                    margin-left: 21px;
                    
                    a{
                        color: #65625c;
                    }
                }
            }
        }
    }
    
}
