*{margin: 0;padding: 0;}
a{text-decoration: none;}
li{list-style: none;}
$w1:100%;
$w:1201px;
.mainwrap{
   width:$w1;
   height: 2438px;
   background: #efefef;

    .main{
        width: $w;
        height: 549px;
        border-bottom: 1px solid #147b14;
        margin: 0 auto;
        background: url(../images/box-head2.png) no-repeat 0px 510px;
    
        ._nav{
            width: $w;
            height: 79px;
            margin: 0 auto;
            overflow:hidden;
            
            ul{
               width: $w;
               height: 57px;
               margin-top: 22px;
               background: url(../images/categories-bg.gif);
               
               li{
                   height: 57px;
                   width: 84px;
                   float: left;
                   border-right:1px solid #484848;
                   text-align: center;
                   line-height: 57px;
                   &:hover{background: black;}
                   
                   a{
                       font-weight: 900;
                       font-size: 14px;
                       color: white;
                   }
               }
            }
        }
        
        .slider{
            width: $w;
            height: 411px;
            margin: 0 auto;
        }
        
        h1{
            color: rgb(255, 255, 255);
            font-size: 15px;
            font-weight: 800;
            margin-top: 28px;
            margin-left: 28px;
        }
        
    }
    .newContent{
        width: $w;
        height: 1136px;
        background: url(../images/box-head2.png) no-repeat 0px 1097px; 
        margin: 0 auto;
        border-bottom: 1px solid #147b14;
        overflow: hidden;
        
        .content{
            width: 1184px;
            height: 1023px;
            margin: 0 auto;
            margin-top:20px ;
            overflow:hidden;
            
            div{
                float: left;
                width: 219px;
                height: 325px;
                margin-top: 12px;
                margin-left: 13px;
                background: white;
                border: 1px solid #9f9f9f;
                overflow: hidden;
                position: relative;
                
                .new{
                    position: absolute;
                    top: -42px;
                    left: -30px;
                }
                
                img{
                    margin-top: 42px;
                    margin-left: 30px;
                }
                
                .name{
                    color: #8c8c8c;
                    line-height: 10px;
                    font-size: 13px;
                    text-align: center;
                    margin-top: 10px;
                    &:hover{
                        color: black;
                    }
                }
                
                .price{
                    text-align: center;
                    color: rgb(163, 18, 18);
                    line-height: 20px;
                    margin-top: 5px;
                    font-size: 17px;
                    font-weight: 900;
                }
                
            }
        }
        
         h1{
            color: rgb(255, 255, 255);
            font-size: 15px;
            font-weight: 800;
            margin-top: 64px;
            margin-left: 28px;
        }
    }
    .tjContent{
        width: $w;
        height: 752px;
        margin: 0 auto;
        overflow: hidden;
        
        .content1{
            width: 1184px;
            height: 685px;
            margin-top: 22px;
            margin-left: 9px;
            
             div{
                float: left;
                width: 219px;
                height: 325px;
                margin-top: 12px;
                margin-left: 13px;
                background: white;
                border: 1px solid #9f9f9f;
                overflow: hidden;
                position: relative;
                
                .sale{
                    position: absolute;
                    top: -42px;
                    left: -30px;
                }
                
                img{
                    margin-top: 42px;
                    margin-left: 30px;
                }
                
                .name{
                    color: #8c8c8c;
                    line-height: 10px;
                    font-size: 13px;
                    text-align: center;
                    margin-top: 10px;
                    &:hover{
                        color: black;
                    }
                }
                
                .price{
                    text-align: center;
                    color: rgb(163, 18, 18);
                    line-height: 20px;
                    margin-top: 5px;
                    font-size: 17px;
                    font-weight: 900;
                }
                
            }
        }
    }
}














