*{margin: 0;padding: 0;}
a{text-decoration: none;}
li{list-style: none;}
$w1:100%;
$w:1201px;
.mainwrap{
   width:$w1;
   height: 2785px;
   background: #efefef;

    .main{
        width: $w;
        height: 607px;
        border-bottom: 1px solid #147b14;
        margin: 0 auto;
        background: url(../images/box-head2.png) no-repeat 0px 568px;
    
        ._nav{
            width: $w;
            height: 79px;
            margin: 0 auto;
            overflow:hidden;
            
            ul{
               width: $w;
               height: 57px;
               margin-top: 22px;
               background: url(../images/categories-bg.gif);
               
               li{
                   height: 57px;
                   width: 84px;
                   float: left;
                   border-right:1px solid #484848;
                   text-align: center;
                   line-height: 57px;
                   &:hover{background: black;}
                   
                   a{
                       font-weight: 900;
                       font-size: 14px;
                       color: white;
                   }
               }
            }
        }
        
        .lorealname{
            width: $w;
            height: 50px;
            margin-top: 11px;
            background: white;
            border-bottom:1px solid #147b14 ;
        }
        
        .lorealfunction{
            width: $w;
            height: 78px;
            background: white;
            overflow: hidden;
            
            .lorealimg{
                width: $w;
                height: 39px;
                overflow: hidden;
                background: url(../images/box-head2.png)no-repeat 0px 0px;
                
                div{
                    color: white;
                    font-size: 12px;
                    font-weight: 800;
                    margin-left: 28px;
                    margin-top: 10px;
                }
            }
            
            ul{
               width: $w;
               height: 39px;
               
               li{
                   height: 37px;
                   width: 75px;
                   float: left;
                   text-align: center;
                   line-height: 37px;
                   
                   a{
                       font-weight: 900;
                       font-size: 13px;
                       color: #686862;
                   }
               }
            }
        }
        
        .chaonan{
            color: white;
            font-size: 15px;
            font-weight: 800;
            margin-left: 28px;
            margin-top: 20px;
        }
    }
    
    .products{
        width: $w;
        height: 2177px;
        margin: 0 auto;
        border-bottom: 1px solid #ebebeb;
        
        .chaonanproduts{
            width: $w;
            height: 2142px;
            margin: 0 auto;
            overflow: hidden;
            
            div{
                float: left;
                width: 219px;
                height: 325px;
                margin-top: 12px;
                margin-left: 13px;
                background: white;
                border: 1px solid #9f9f9f;
                overflow: hidden;
                position: relative;
                
                .new{
                    position: absolute;
                    top: -42px;
                    left: -15px;
                }
                
                img{
                    margin-top: 42px;
                    margin-left: 15px;
                }
                
                .name{
                    color: #8c8c8c;
                    line-height: 10px;
                    font-size: 13px;
                    text-align: center;
                    &:hover{
                        color: black;
                    }
                }
                
                .price{
                    text-align: center;
                    color: rgb(163, 18, 18);
                    line-height: 20px;
                    margin-top: 5px;
                    font-size: 17px;
                    font-weight: 900;
                }
                
            }
        }
        div{
            width: 162px;
            height: 35px;
            float: right;
            text-align: center;
            line-height: 35px;
            font-size: 12px;
            font-weight: 400;
            
            a{
                color: black;
            }
        }
    } 
}      