<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="css/index.css"/>
		<link rel="stylesheet" type="text/css" href="css/header.css"/>
		<link rel="stylesheet" type="text/css" href="css/footer.css"/>
		<script src="lib/requirejs/require.js" data-main="/js/index"></script>
		<script type="text/html" id="product_list">
			<% 
				for (var i = 0, len = list.length; i < len; i++) {
					var prod = list[i];
			%>
				<a href="html/detail.html">
					<div>
						<img src="<%=prod.srcImg%>" alt="" />
						<p class="name"><%=prod.name%></p>
						<p class="price"><%=prod.price%></p>
					</div>
				</a>
			<% } %>
		</script>
	</head>
	<body>
		<div class="header"></div>
		<div class="mainwrap">
			<div class="main">
				<div class="_nav">
					<ul>
						<li><a href="#">欧莱雅</a></li>
						<li><a href="#">妮维雅</a></li>
						<li><a href="#">曼秀雷敦</a></li>
						<li><a href="#">高夫</a></li>
						<li><a href="#">卡尼尔</a></li>
						<li><a href="#">俊士</a></li>
						<li><a href="#">ADIDAS</a></li>
						<li><a href="#">欧碧泉</a></li>
						<li><a href="#">倩碧</a></li>
						<li><a href="#">DIOR</a></li>
						<li><a href="#">LANCOME</a></li>
					</ul>
				</div>
				<div class="slider">
					<img src="images/dior.jpg"/>
				</div>
				<h1>尚品诺 男士护肤新品</h1>
			</div>
			<div class="newContent">
				<div class="content">
					
				</div>
				<h1>尚品诺 男士护肤推荐</h1>
			</div>
			<div class="tjContent">
				<div class="content1">
					
				</div>
			</div>
		</div>	
		<div class="footer"></div>
	</body>
</html>
