@font-face {
	font-family: Playfair Display;
	src: local("Playfair Display"), local("PlayfairDisplay"), url(http://themes.googleusercontent.com/static/fonts/playfairdisplay/v4/2NBgzUtEeyB-Xtpr9bm1CZa6Tn9fxpDPuRSK4Gn5Ybw.woff) format("woff");
	font-weight: normal;
	font-style: normal;
}
