
a img { 
	border: currentColor;
}
a {
	color: rgb(140, 140, 140); text-decoration: none;
}
#navEZPagesTOC ul li a {
	color: rgb(140, 140, 140); text-decoration: none;
}
a:hover {
	
}
#navEZPagesTOC ul li a:hover {
	
}
#navMain ul li a:hover {
	
}
#navSupp ul li a:hover {
	
}
#navCatTabs ul li a:hover {
	
}
h4 {
	
}
h5 {
	
}
h6 {
	
}
label {
	
}
h4.optionName {
	
}
legend {
	
}
address {
	
}
.sideBoxContent {
	
}
.larger {
	
}
.attribsSelect {
	padding: 0px 5px 0px 0px;
}
.biggerText {
	
}
#gender-male {
	margin-left: 8px;
}
#gender-female {
	margin-left: 8px;
}
#email-format-text {
	margin-left: 8px;
}
.information {
	padding: 8px 0px 0px 16px;
}
code {
	line-height: 17px; font-family: "Times New Roman", Times, serif; font-size: 14px;
}
form {
	
}
select {
	
}
input {
	
}
form {
	margin: 0px; padding: 0px;
}
textarea {
	margin: auto; width: 95%; display: block;
}
input:focus {
	
}
select:focus {
	
}
textarea:focus {
	
}
fieldset {
	margin: 0.5em 0em; padding: 0.5em; border: 1px solid rgb(225, 225, 225);
}
legend {
	padding: 0px 5px; color: rgb(140, 140, 140); font-weight: bold;
}
label {
	
}
h4.optionName {
	
}
label.checkboxLabel {
	margin-left: 5px;
}
label.radioButtonLabel {
	margin-left: 5px;
}
#logo {
	float: left;
}
.centerBoxContents {
	float: left;
}
.specialsListBoxContents {
	float: left;
}
.categoryListBoxContents {
	float: left;
}
.centerBoxContentsAlsoPurch {
	float: left;
}
.attribImg {
	float: left;
}
label.inputLabel {
	margin: 5px 0px; width: 9em; padding-right: 10px; padding-left: 10px; float: left;
}
label.inputLabelPayment {
	padding: 4px 0px; width: 15em; float: left;
}
label.selectLabel {
	width: 12em; float: left;
}
label.switchedLabel {
	width: 12em; float: left;
}
label.uploadsLabel {
	width: 12em; float: left;
}
p {
	padding: 0.5em;
}
address {
	padding: 0.5em;
}
#contactUsNoticeContent {
	margin: 15px 0px 0px; padding: 15px 0px 20px 7px; border-top-color: rgb(229, 229, 229); border-top-width: 1px; border-top-style: solid;
}
address {
	font-style: normal;
}
.clearBoth {
	clear: both;
}
hr {
	border-width: 1px 0px 0px; border-style: solid none none; border-color: rgb(225, 225, 225) currentColor currentColor; margin: 5px 0px; color: rgb(193, 193, 193);
}
.messageStackWarning {
	padding: 0.2em; line-min-height: 1.8em;
}
.messageStackError {
	padding: 0.2em; line-min-height: 1.8em;
}
.messageStackSuccess {
	padding: 0.2em; line-min-height: 1.8em;
}
.messageStackCaution {
	padding: 0.2em; line-min-height: 1.8em;
}
.messageStackWarning {
	color: rgb(255, 0, 0);
}
.messageStackError {
	color: rgb(255, 0, 0);
}
.messageStackSuccess {
	color: rgb(140, 140, 140); background-color: rgb(241, 246, 230);
}
.messageStackCaution {
	color: rgb(140, 140, 140); background-color: rgb(255, 255, 102);
}
#mainWrapper {
	text-align: left; vertical-align: top;
}
#headerWrapper {
	
}
#contentMainWrapper {
	
}
#logoWrapper {
	
}
#cartBoxListWrapper {
	
}
#ezPageBoxList {
	
}
#cartBoxListWrapper ul {
	
}
#ezPageBoxList ul {
	
}
#mainWrapper {
	
}
#popupAdditionalImage {
	
}
#popupImage {
	
}
#navColumnOneWrapper {
	
}
#navColumnTwoWrapper {
	
}
#mainWrapper {
	
}
#tagline {
	text-align: center; color: rgb(140, 140, 140); font-size: 12px; margin-top: 10px; vertical-align: middle;
}
#sendSpendWrapper {
	margin: 0em 0em 1em 1em; border: 1px solid rgb(202, 202, 202); float: right;
}
.floatingBox {
	margin: 0px; color: rgb(140, 140, 140);
}
#accountLinksWrapper {
	margin: 0px; color: rgb(140, 140, 140);
}
#sendSpendWrapper {
	margin: 0px; color: rgb(140, 140, 140);
}
#checkoutShipto {
	margin: 0px; color: rgb(140, 140, 140);
}
#checkoutBillto {
	margin: 0px; color: rgb(140, 140, 140);
}
#navEZPagesTOCWrapper {
	margin: 0px; color: rgb(140, 140, 140);
}
.floatingBox a {
	color: rgb(140, 140, 140);
}
#productDetailsList li a {
	color: rgb(140, 140, 140);
}
#productDetailsList li {
	color: rgb(140, 140, 140);
}
.wrapperAttribsOptions {
	margin: 0.3em 0em; display: block;
}
#sorter {
	margin: 0px;
}
#sorter label {
	color: rgb(0, 0, 0); font-weight: bold;
}
.navSplitPagesResult {
	margin: 0px 10px 17px 20px;
}
.navSplitPagesLinks {
	margin: 0px 0px 10px;
}
.navSplitPagesLinks a {
	background: rgb(223, 223, 223); padding: 5px 10px; color: rgb(62, 62, 62); text-decoration: none; display: inline-block;
}
.navSplitPagesLinks a:hover {
	background: rgb(127, 127, 127); color: rgb(255, 255, 255);
}
.navSplitPagesLinks strong {
	background: rgb(52, 52, 52); padding: 5px 10px; top: 1px; color: rgb(255, 255, 255); text-decoration: none; display: inline-block; position: relative;
}
.navSplitPagesResult a {
	color: rgb(22, 22, 22);
}
.navNextPrevList {
	margin: 0px 2px 3px 0px; display: inline; list-style-type: none; white-space: nowrap;
}
.navNextPrevWrapper {
	margin: 0px 10px 5px; padding: 15px 0px;
}
.navNextPrevCounter {
	margin: 0em; padding: 7px 0px 0px; color: rgb(0, 0, 0); display: block;
}
.navNextPrevWrapper span {
	overflow: hidden; float: left; position: relative;
}
#navMainWrapper {
	
}
#navSuppWrapper {
	
}
#navCatTabsWrapper {
	
}
#navMain ul {
	margin: 0px; padding: 0.5em 0em; text-align: center; list-style-type: none; line-min-height: 1.5em;
}
#navSupp ul {
	margin: 0px; padding: 0.5em 0em; text-align: center; list-style-type: none; line-min-height: 1.5em;
}
#navCatTabs ul {
	margin: 0px; padding: 0.5em 0em; text-align: center; list-style-type: none; line-min-height: 1.5em;
}
#navMain ul li {
	
}
#navSupp ul li {
	
}
#navCatTabs ul li {
	
}
#navMain ul li a {
	
}
#navSupp ul li a {
	
}
#navCatTabs ul li a {
	
}
#navEZPagesTOCWrapper {
	margin: 5px 0px; padding: 0.5em; border: 1px solid rgb(225, 225, 225); font-weight: bold; float: inherit; min-height: 1%;
}
#navEZPagesTOC ul {
	margin: 0px; padding: 0.5em 0em; list-style-type: none; line-min-height: 1.5em;
}
#navEZPagesTOC ul li {
	white-space: nowrap;
}
#navEZPagesTOC ul li a {
	margin: 0px; padding: 0em 0.5em;
}
#navMainSearch {
	margin: 5px 5px 0px 0px;
}
#navCategoryIcon {
	margin: 5px 5px 0px 0px;
}
#navEZPagesTop {
	
}
#contentColumnMain {
	vertical-align: top;
}
#navColumnOne {
	vertical-align: top;
}
#navColumnTwo {
	vertical-align: top;
}
.centerBoxContents {
	vertical-align: top;
}
.specialsListBoxContents {
	vertical-align: top;
}
.categoryListBoxContents {
	vertical-align: top;
}
.additionalImages {
	vertical-align: top;
}
.centerBoxContentsSpecials {
	vertical-align: top;
}
.centerBoxContentsAlsoPurch {
	vertical-align: top;
}
.centerBoxContentsFeatured {
	vertical-align: top;
}
.centerBoxContentsNew {
	vertical-align: top;
}
.alert {
	vertical-align: top;
}
#productDescription {
	
}
.shippingEstimatorWrapper {
	
}
.content {
	margin-bottom: 10px;
}
.alert {
	color: rgb(163, 163, 163); font-size: 11px; margin-right: 5px; margin-left: 0.5em;
}
.advisory {
	
}
.important {
	margin: 5px; font-weight: bold;
}
.notice {
	
}
.rating {
	
}
.gvBal {
	float: right;
}
#bannerOne {
	padding: 0em;
}
#bannerTwo {
	padding: 0em;
}
#bannerThree {
	padding: 0em;
}
#bannerFour {
	padding: 0em;
}
#bannerFive {
	padding: 0em;
}
#bannerSix {
	padding: 0em;
}
.smallText {
	font-size: 0.9em;
}
#siteinfoLegal {
	font-size: 0.9em;
}
#siteinfoCredits {
	font-size: 0.9em;
}
#siteinfoStatus {
	font-size: 0.9em;
}
#siteinfoIP {
	font-size: 0.9em;
}
.tableHeading th {
	
}
.tableHeading {
	
}
#cartSubTotal {
	
}
.tableRow {
	min-height: 2.2em;
}
.tableHeading {
	min-height: 2.2em;
}
#cartSubTotal {
	min-height: 2.2em;
}
.cartUnitDisplay {
	text-align: right; padding-right: 0.2em;
}
.cartTotalDisplay {
	text-align: right; padding-right: 0.2em;
}
#scUpdateQuantity {
	width: 2em;
}
.cartQuantity {
	width: 4.7em;
}
.cartNewItem {
	color: rgb(140, 140, 140); position: relative;
}
.cartOldItem {
	
}
.cartBoxTotal {
	text-align: right; font-weight: bold;
}
.cartRemoveItemDisplay {
	width: 3.5em;
}
#cartAttribsList {
	margin-left: 1em;
}
#mediaManager {
	margin: 0.2em; padding: 0.5em; width: 50%;
}
#cartBoxListWrapper ul {
	list-style-type: none;
}
#ezPageBoxList ul {
	list-style-type: none;
}
#ezPageBoxList li {
	margin: 0px; padding: 0.2em 0em;
}
.cartBoxTotal {
	margin: 0px; padding: 0.2em 0em;
}
.totalBox {
	padding: 0.2em; width: 5.5em; text-align: right; color: rgb(25, 25, 25); line-height: 17px; font-family: "Playfair Display", serif; font-size: 17px; font-weight: normal;
}
.lineTitle {
	padding: 0.2em; text-align: right;
}
.amount {
	padding: 0.2em; text-align: right;
}
.amount {
	width: 5.5em;
}
.categoryIcon {
	
}
#cartImage {
	margin: 0.5em 1em;
}
.attribImg {
	margin: 0.3em 0em; width: 20%;
}
.attributesComments {
	
}
.centerBoxContents {
	
}
.specialsListBoxContents {
	
}
.categoryListBoxContents {
	
}
.additionalImages {
	
}
.centerBoxContentsSpecials {
	
}
.centerBoxContentsAlsoPurch {
	
}
.centerBoxContentsFeatured {
	
}
.centerBoxContentsNew {
	
}
.columnLeft {
	
}
.columnRight {
	
}
.sideBoxContent {
	
}
.rightBoxHeading {
	margin: 0em; padding: 0.2em 0em; background-color: rgb(102, 51, 102);
}
h3.leftBoxHeading a:hover {
	color: rgb(255, 255, 51); text-decoration: none;
}
h3.rightBoxHeading a:hover {
	color: rgb(255, 0, 0); text-decoration: none;
}
.rightBoxContent {
	margin-bottom: 1em;
}
.centeredContent {
	width: auto;
}
th {
	width: auto;
}
#cartEmptyText {
	width: auto;
}
#cartBoxGVButton {
	width: auto;
}
#navCatTabsWrapper {
	width: auto;
}
#navEZPageNextPrev {
	width: auto;
}
#bannerOne {
	width: auto;
}
#bannerTwo {
	width: auto;
}
#bannerThree {
	width: auto;
}
#bannerFour {
	width: auto;
}
#bannerFive {
	width: auto;
}
#bannerSix {
	width: auto;
}
#siteinfoLegal {
	width: auto;
}
#siteinfoCredits {
	width: auto;
}
#siteinfoStatus {
	width: auto;
}
#siteinfoIP {
	width: auto;
}
.center {
	width: auto;
}
.cartRemoveItemDisplay {
	width: auto;
}
.cartQuantityUpdate {
	width: auto;
}
.cartQuantity {
	width: auto;
}
#cartBoxGVBalance {
	width: auto;
}
.leftBoxHeading {
	width: auto;
}
.centerBoxHeading {
	width: auto;
}
.rightBoxHeading {
	width: auto;
}
.productListing-data {
	width: auto;
}
.accountQuantityDisplay {
	width: auto;
}
.ratingRow {
	width: auto;
}
label#textAreaReviews {
	width: auto;
}
#productMainImage {
	width: auto;
}
#reviewsInfoDefaultProductImage {
	width: auto;
}
#productReviewsDefaultProductImage {
	width: auto;
}
#reviewWriteMainImage {
	width: auto;
}
.centerBoxContents {
	width: auto;
}
.specialsListBoxContents {
	width: auto;
}
.categoryListBoxContents {
	width: auto;
}
.additionalImages {
	width: auto;
}
.centerBoxContentsSpecials {
	width: auto;
}
.centerBoxContentsAlsoPurch {
	width: auto;
}
.centerBoxContentsFeatured {
	width: auto;
}
.centerBoxContentsNew {
	width: auto;
}
.gvBal {
	width: auto;
}
.attribImg {
	width: auto;
}
.categoryListBoxContents a {
	text-align: center; color: rgb(192, 5, 5); text-transform: uppercase; text-decoration: none;
}
.cartTotalsDisplay {
	
}
#bannerboxHeading {
	background-color: rgb(0, 0, 204);
}
#upProductsHeading {
	text-align: left;
}
#upDateHeading {
	text-align: right;
}
.back {
	float: left;
}
.forward {
	float: right;
}
.bold {
	font-weight: bold;
}
.rowOdd {
	vertical-align: top; min-height: 1.5em;
}
.rowEven {
	padding: 5px; vertical-align: top; min-height: 1.5em;
}
caption {
	
}
#myAccountGen li {
	margin: 0px;
}
#myAccountNotify li {
	margin: 0px;
}
.accountTotalDisplay {
	width: 20%; text-align: right;
}
.accountTaxDisplay {
	width: 20%; text-align: right;
}
.accountQuantityDisplay {
	width: 10%; vertical-align: top;
}
tr.tableHeading {
	min-height: 2em;
}
#siteMapList {
	width: 90%; float: right;
}
#siteMapList ul {
	list-style: circle;
}
.ratingRow {
	margin: 1em 0em 1.5em;
}
label#textAreaReviews {
	font-weight: normal;
}
#gvFaqDefaultMainContent {
	margin: 10px 15px 0px 5px;
}
#gvFaqDefaultContent {
	padding: 10px 0px; color: rgb(0, 0, 0); border-top-color: rgb(236, 234, 234); border-top-width: 1px; border-top-style: solid;
}
#reviewsDefaultNoReviews {
	margin: 0px 5px 5px;
}
#createAcctSuccessMainContent {
	margin: 5px;
}
.main_block {
	margin: 20px;
}
.ee {
	text-decoration: line-through;
}
.normalprice {
	
}
.productSpecialPriceSale {
	
}
.normalprice {
	color: rgb(168, 168, 168); line-height: 30px; padding-right: 10px; font-family: "Playfair Display", serif; font-size: 18px; font-weight: normal; text-decoration: line-through;
}
.productSpecialPrice {
	color: rgb(25, 25, 25); line-height: 30px; font-family: "Playfair Display", serif; font-size: 27px; font-weight: normal;
}
.productSalePrice {
	color: rgb(25, 25, 25); line-height: 30px; font-family: "Playfair Display", serif; font-size: 27px; font-weight: normal;
}
.productSpecialPriceSale {
	color: rgb(25, 25, 25); line-height: 30px; font-family: "Playfair Display", serif; font-size: 27px; font-weight: normal;
}
.productSpecialPriceSale {
	text-decoration: line-through;
}
.productPriceDiscount {
	color: rgb(55, 55, 55); font-size: 12px;
}
#specialsListingBottomNumber {
	margin-top: 15px;
}
#reviewsInfoDefault .button-padding a img {
	margin-bottom: 10px;
}
.buttonRow {
	margin: 0px; padding: 7px 0px;
}
.buttonRow2 {
	margin: 0px; padding: 7px 0px;
}
.buttonRow input {
	padding: 0px; border: currentColor;
}
.buttonRow2 input {
	padding: 0px; border: currentColor;
}
.buttonRow3 input {
	padding: 0px; border: currentColor;
}
