.box {
	background: rgb(255, 255, 255); border-radius: 2px; border: 1px solid rgb(234, 234, 234); width: 218px; padding-bottom: 25px; margin-bottom: 20px; position: relative; -moz-border-radius: 2px; -webkit-border-radius: 2px;
}
.box:hover {
	border: 1px solid rgb(207, 207, 207);
}
.box-head {
	background: url("../webimages/box-head2.png") no-repeat left top; margin: 20px 0px -10px 0px; padding: 7px 0px 10px 28px; height: 22px; color: rgb(255, 255, 255); line-height: 22px; font-size: 15px; font-weight: 800;font-family: "Microsoft YaHei" ! important;
	border-bottom-color: rgb(20, 123, 20); border-bottom-width: 1px; border-bottom-style: solid;
}
.box-head h1{
	color: rgb(255, 255, 255);  font-size: 15px; font-weight: 800;font-family: "Microsoft YaHei" ! important;
	}
.brand-head {
	background: url("../webimages/brand-header.png") no-repeat left top; margin: 10px 0px -10px 0px; padding: 7px 0px 10px 15px; height: 14px; color: rgb(255, 255, 255); line-height: 16px; font-size: 13px; font-weight: 800;font-family: "Microsoft YaHei" ! important;
	border-bottom-color: rgb(20, 123, 20); border-bottom-width: 1px; border-bottom-style: solid;
}
.brand-head a {
	color: rgb(255, 255, 255); text-decoration: none;prolist
}
.brand-head a:hover {
	color: rgb(125, 125, 125);
}
.box-head a {
	color: rgb(255, 255, 255); text-decoration: none;
}
.box-head a:hover {
	color: rgb(125, 125, 125);
}
.brand-head-box{ 
	background:rgb(255,255,255);margin: 0px auto; border-radius: 0px 0px 4px 4px; _border: 1px solid rgb(234, 234, 234); width: 1195px; height: 300px; overflow: hidden;  margin-top:10px; margin-bottom: 10px; position: relative; -moz-border-radius: 2px; -webkit-border-radius: 2px;	
	box-shadow: -1px 2px 2px rgba(0,0,0,0.3); -moz-box-shadow: rgba(0, 0, 0, 0.3) -2 2px 2px; -webkit-box-shadow: rgba(0, 0, 0, 0.3) -2 2px 2px;
}
.brand-detail-box{ 
	float:left; border-radius: 0px 0px 4px 4px; _border: 1px solid rgb(234, 234, 234); width: 1200px;   overflow: hidden;  margin-top:10px; margin-bottom: -10px;  font-size:12px; line-height:12px;padding:10px 0px 10px 0px;font-family: "Microsoft YaHei" ! important;
}
.brand-detail-box-img{ 
	float:left;text-align:left;background: url("../webimages/bg_toap_img.jpg");border-radius: 0px 0px 4px 4px; _border: 1px solid rgb(234, 234, 234); width: 1000px;   overflow: hidden;  margin-top:10px; margin-bottom: 10px;   
}
.brand-detail-box-right{ 
	float:left;border-radius: 0px 0px 4px 4px; _border: 1px solid rgb(234, 234, 234);width:197px; _width: 190px; height:500px;   overflow: hidden;  margin-top:10px; margin-bottom: -10px;   
}
.brand-detail-tuijian-head{
	background:url("../webimages/tuijian.jpg") repeat-x; margin: 0px 0px 10px 0px;padding: 7px 0px 10px 15px; height: 17px; color: rgb(255, 255, 255); line-height: 16px; font-size: 13px; font-weight: 800;font-family: "Microsoft YaHei" ! important;
	}
.brand-detail-tuijian{
	background:rgb(255, 255, 255);_border: 1px solid rgb(221, 221, 221);
	border-radius: 2px;  width: 168px; height: 190px; overflow: hidden;padding-bottom: 25px; margin-top: 15px; margin-left:15px;position: relative; 
	 -moz-border-radius: 2px; -webkit-border-radius: 2px; box-shadow: -1px 2px 2px rgba(0,0,0,0.3),1px 0px 2px rgba(0,0,0,0.3); -moz-box-shadow: rgba(0, 0, 0, 0.3) -2 2px 2px; -webkit-box-shadow: rgba(0, 0, 0, 0.3) -2 2px 2px;
}
.brand-detail-tuijian a{
  text-decoration: none;font-weight:400; font-size:12px; line-height:12px;font-family: "Microsoft YaHei" ! important;
}
.brand-detail-tuijian a:hover{
 color:rgb(163, 18, 18);text-decoration: none;font-weight:400;  font-size:12px; line-height:12px; font-family: "Microsoft YaHei" ! important;
}
.brand-detail-tuijian-info {
	text-align:center;padding-top:12px;
}
.brand-detail-tuijian-info-price {
	color: rgb(163, 18, 18); line-height: 22px; font-family: "Microsoft YaHei" ! important; font-size: 17px; font-weight: bold ;
}
.brand-detail-tuijian-img{
	margin: 10px 0px 0px; text-align: center;}
.brand-head-img{
	float:left; width:50%; height:300px;text-align: center;
}
.brand-head-introduce{
		background: url("../webimages/head-box-r1.png") no-repeat left top; border-left:1px solid #000000;float:left; width:49%; font-family:"Microsoft YaHei" ! important; height:300px;
}
.brand-head-card{
		background: url("../webimages/mpl.png") no-repeat left top;margin-bottom:0px;height:280px;
}
.brand-head-details{
	margin-left:145px;margin-right:20px; border-bottom:#222121 3px solid;
}
.brand-head-details-text{
 	text-align:left;font-weight:400; font-size:12px; line-height:12px;padding:10px 0px 10px 0px;font-family: "Microsoft YaHei" ! important;
}
.detail-body{
	background: rgb(255,255,255);margin:0px auto; width: 1200px;overflow:hidden; _border: 1px solid rgb(234, 234, 234);
	-moz-border-radius: 2px; -webkit-border-radius: 2px;
	box-shadow: -1px 2px 2px rgba(0,0,0,0.3); -moz-box-shadow: rgba(0, 0, 0, 0.3) -2 2px 2px; -webkit-box-shadow: rgba(0, 0, 0, 0.3) -2 2px 2px;
	
}
.brand-body-details{
	background: rgb(255,255,255);margin: 30px auto; width: 1200px; text-align: left;overflow:hidden;
	}	
.brand-body-details-nav{
	background:url("../webimages/box-head2.png") no-repeat left top; margin: 0px 0px -10px 0px; padding: 7px 0px 10px 15px; height: 17px; color: rgb(255, 255, 255); line-height: 16px; font-size: 13px; font-weight: 800;font-family: "Microsoft YaHei" ! important;
	border-bottom-color:rgb(20, 123, 20); border-bottom-width: 1px; border-bottom-style: solid;
}
.brand-body-details-nav h1{
	color: rgb(255, 255, 255);  font-size: 15px; font-weight: 800;font-family: "Microsoft YaHei" ! important;
}
.pagecontrol{
	border-bottom-color:rgb(214, 214, 214); border-bottom-width: 1px; border-bottom-style: solid;vertical-align:middle;
}
.pagecontrol tr td {
 text-align:right;font-weight:400; vertical-align:middle;  font-size:12px; line-height:12px;padding:20px 12px 10px 0px;font-family: "Microsoft YaHei" ! important;
}
.pagecontrol select {
    padding: 4px;background: #fff; font-size:12px;
 }
 .pagecontrol a{
  text-align:right;text-decoration: none;font-weight:400; font-size:12px; line-height:12px;padding:10px 0px 10px 0px;font-family: "Microsoft YaHei" ! important;
 }
  .pagecontrol a:hover{
  color:rgb(20, 123, 20);text-decoration: none;text-align:right;font-weight:400;  font-size:12px; line-height:12px;padding:10px 0px 10px 0px;font-family: "Microsoft YaHei" ! important;
 }
.brand-intro-nav{
	background: url("../webimages/brand-nav.png") no-repeat left top;width:220px;height:50px;margin: 10px 0px -10px 0px; padding: 7px 0px 10px 15px; height: 17px; color: rgb(255, 255, 255); line-height: 23Px; font-size: 15px; font-weight: 900;font-family: "Microsoft YaHei";
}
.brand-commend-box{
float:left; border-radius: 0px 0px 4px 4px; border: 1px solid rgb(234, 234, 234); width: 195px; height: 800px;   margin-top:10px; margin-bottom: 10px; -moz-border-radius: 2px; -webkit-border-radius: 2px;	
	box-shadow: 0px 2px 3px rgba(0,0,0,0.3); -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 3px; -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 3px;
}
.commend-box-head {
	background: url("../webimages/info-box-bg.png");
  margin: 0px auto; padding: 7px 0px 10px 15px; height: 14px; width:195px; color: rgb(255, 255, 255); line-height: 16px; font-size: 13px; font-weight: 800;font-family: "Microsoft YaHei" ! important;
	border-bottom-color: rgb(20, 123, 20); border-bottom-width: 1px; border-bottom-style: solid;
}
.resetpwd-box{
	background:rgb(255,255,255);margin: 0px auto; border-radius: 0px 0px 4px 4px; _border: 1px solid rgb(234, 234, 234); height: 280px; overflow: hidden;  margin-top:0px; margin-bottom: 10px; position: relative; -moz-border-radius: 2px; -webkit-border-radius: 2px;	
	box-shadow: -1px 2px 2px rgba(0,0,0,0.3); -moz-box-shadow: rgba(0, 0, 0, 0.3) -1 1px 2px;-webkit-box-shadow: rgba(0, 0, 0, 0.3) -1 1px 2px;
}
.resetpwd-box p{
	margin-left:350px; 
}
 .resetpwd-tip {
 margin-top:0px !important; padding-left:405px; padding-top:0px;text-align:left;font-size: 12px; font-weight: 500;font-family: "Microsoft YaHei" ! important;color:#666666;
}
.resetpwd-lab {
	width: 50px; text-align: right; padding-right:5px;display: inline-block;
}
.register-head{
	background: url("../webimages/info-box-bg.png");height:30px;color: rgb(255, 255, 255); line-height: 26px; font-size: 16px; font-weight: 800;font-family: "Microsoft YaHei" ! important; padding: 10px 0px 7px 28px;
}
.register-box{
	background:rgb(255,255,255);margin: 0px auto; border-radius: 0px 0px 4px 4px; _border: 1px solid rgb(234, 234, 234); height: 380px; overflow: hidden;  margin-top:0px; margin-bottom: 10px; position: relative; -moz-border-radius: 2px; -webkit-border-radius: 2px;	
	box-shadow: -1px 2px 2px rgba(0,0,0,0.3); -moz-box-shadow: rgba(0, 0, 0, 0.3) -1 1px 2px; -webkit-box-shadow: rgba(0, 0, 0, 0.3) -1 1px 2px;
}
.register-box-left{
 float:left;width:50%;height:100%;border-right-color: rgb(20, 123, 20); border-right-width: 1px; border-right-style: solid;overflow: hidden; 
}

.register-box-right{
float:left;width:598px;;height:100%;overflow: hidden; margin:20px auto;
}
.register-box-left-content{
	margin-left:20px; margin-top:40px;
}
.register-box-right-content{
	background: url("../webimages/promise.jpg") no-repeat left top; width=600px;height:300px; margin-top:28px;
}

.article-head{
	background: url("../webimages/info-box-bg.png");height:30px;color: rgb(255, 255, 255); line-height: 26px; font-size: 16px; font-weight: 800;font-family: "Microsoft YaHei" ! important; padding: 10px 0px 7px 28px;
}

.article-head a{
	color:rgb(225,225,225);	text-decoration: none;
}
.article-head a:hover{
	color:rgb(125,125,125);	text-decoration: none;
}
 .small-input{
			padding: 6px;
      font-size: 13px;
      border: 1px solid #d5d5d5;
			color: #333;
			width: 200px; !important;
}
 .big-input{
			padding: 6px;
      font-size: 13px;
      border: 1px solid #d5d5d5;
			color: #333;
			width: 500px; !important;
}
.search-input {
	background: rgb(254, 254, 254); padding: 6px 5px 5px; border: 1px solid rgb(232, 232, 232); font-family: "Microsoft YaHei" ! important; margin-right: 8px;  
}
.register-box-left-content p {
	 margin:20px 0px 0px 0px; !important; padding: 0px;text-align:left;font-size: 14px; font-weight: 500;font-family: "Microsoft YaHei" ! important;
}
.register-box-right-content p {
	 margin:20px 0px 0px 0px; !important; padding: 0px;text-align:left;font-size: 14px; font-weight: 500;font-family: "Microsoft YaHei" ! important;
}
.register-box-left-content a {
	color: rgb(125, 125, 125); text-decoration: none;
}
.register-box-left-content a:hover {
	color: rgb(125, 125, 125);
}
 .register-tip {
 margin-top:0px !important; padding-left:105px; padding-top:0px;text-align:left;font-size: 12px; font-weight: 500;font-family: "Microsoft YaHei" ! important;color:#666666;
}
.register-lab {
	width: 100px; text-align: right; padding-right:5px;display: inline-block;
}
.reset-button {
	background: url("../webimages/findpwd.png") no-repeat left top;border: 0; width: 200px; height: 50px;display:block; text-indent: -100em; overflow: hidden; margin-left: 65px; margin-top: 20px;cursor: pointer;
}
.pay-button {
	background: url("../webimages/pay.png") no-repeat left top;border: 0; width: 143px; height: 43px;display:block; text-indent: -100em; overflow: hidden;
}
.reg-button {
	background: url("../webimages/sign.jpg") no-repeat left top;border: 0; width: 200px; height: 50px; display:block;text-indent: -100em; overflow: hidden; margin-left: 105px; margin-top: 10px;cursor: pointer;
}
.editpersonal-button {
	background: url("../webimages/saveselfinfo.png") no-repeat left top;border: 0; width: 200px; height: 50px; display:block;text-indent: -100em; overflow: hidden; margin-left: 105px; margin-top: 10px;cursor: pointer;
}
.regtipsuccess{
	background: url("../webimages/info-box-bg.png") repeat ;width:100%;height:320px;display:none;
	}
.login-button{
	background: url("../webimages/login.jpg") no-repeat left top;border: 0; width: 200px; height: 60px;text-indent: -100em;overflow: hidden; margin-left: 105px; margin-top: 10px;cursor: pointer;
}
.forget-button{
	background: url("../webimages/findpwd.png") no-repeat left top;border:0; width: 200px; height: 60px;display:block; text-indent: -100em; overflow: hidden; margin-left: 105px; margin-top: 10px;cursor: pointer;
}
.saveaddress-button{
	background: url("../webimages/saveaddress.png") no-repeat left top;border: 0; width: 200px; height: 60px;display:block; text-indent: -100em; overflow: hidden; margin-left: 105px; margin-top: 10px;cursor: pointer;
}
.ucentersaveaddress-button{
	background: url("../webimages/saveadd.png") no-repeat left top;border: 0; width: 200px; height: 60px;display:block; text-indent: -100em; overflow: hidden; margin-left: 105px; margin-top: 10px;cursor: pointer;
}
.weibo-box{
	background:rgb(255,255,255);margin: 0px auto; border-radius: 1px 1px 2px 2px; _border: 1px solid rgb(234, 234, 234); width:100%; height: 100px; overflow: hidden;  margin-top:0px; margin-bottom: 10px;padding-top:10px;position: relative; -moz-border-radius: 0px; -webkit-border-radius: 0px;	
	box-shadow: -1px 1px 2px rgba(0,0,0,0.3),1px -1px 2px rgba(0,0,0,0.3); -moz-box-shadow: rgba(0, 0, 0, 0.3) -1 1px 2px; -webkit-box-shadow: rgba(0, 0, 0, 0.3) -1 1px 2px;
}
.article-box{
	background:rgb(255,255,255);margin: 0px auto; border-radius: 1px 1px 2px 2px; _border: 1px solid rgb(234, 234, 234); width:100%; height:auto !important;
	height:800px;min-height:800px;margin-top:10px; margin-bottom: 60px;padding-top:10px;padding-bottom:80px;_padding-bottom:0px;position: relative; -moz-border-radius: 0px; -webkit-border-radius: 0px;	
	box-shadow: -1px 1px 2px rgba(0,0,0,0.3),1px -1px 2px rgba(0,0,0,0.3); -moz-box-shadow: rgba(0, 0, 0, 0.3) -1 1px 2px; -webkit-box-shadow: rgba(0, 0, 0, 0.3) -1 1px 2px;
}
.article-box a{
	color:rgb(181, 20, 45);	text-decoration: none;
}
.article-box a:hover{
	color:rgb(181, 20, 45);	text-decoration: none;
}
.login-box{
	background:rgb(255,255,255);margin: 0px auto; border-radius: 0px 0px 4px 4px; _border: 1px solid rgb(234, 234, 234); width:100%; height: 310px; overflow: hidden;  margin-top:0px; margin-bottom: 10px; position: relative; -moz-border-radius: 2px; -webkit-border-radius: 2px;	
	box-shadow: -1px 1px 2px rgba(0,0,0,0.3),1px -1px 2px rgba(0,0,0,0.3); -moz-box-shadow: rgba(0, 0, 0, 0.3) -1 1px 2px; -webkit-box-shadow: rgba(0, 0, 0, 0.3) -1 1px 2px;
}
.login-box-left{
 float:left;width:50%;height:100%;border-right-color: rgb(20, 123, 20); border-right-width: 1px; border-right-style: solid;overflow: hidden; 
}
.login-box-left-content{
	margin-left:30px; margin-top:60px;
}
.login-box-left-content a{
	color:rgb(125,125,125);	text-decoration: none;
}
.login-box-left-content a:hover{
	color:rgb(0,0,0);	text-decoration: none;
}
.login-box-right{
float:left;width:598px;height:100%; margin:0px auto;
}
.login-box-right-content{
	background: url("../webimages/promise.jpg") no-repeat left top; width:100%;height:290px; margin-top:10px;
}
.login-box-left-content p {
	 margin:20px 0px 0px 0px; !important; padding: 0px;text-align:left;font-size: 14px; font-weight: 500;font-family: "Microsoft YaHei" ! important;
}
.login-box-right-content p {
	 margin:20px 0px 0px 0px; !important; padding: 0px;text-align:left;font-size: 14px; font-weight: 500;font-family: "Microsoft YaHei" ! important;
}
.ordersuccess-box{
	background: url("../webimages/xinfeng8.jpg") no-repeat; margin: 0px auto; border-radius: 0px 0px 4px 4px;  width:100%; height:400px; overflow: hidden;  margin-top:0px;position: relative; 
	
}
.shoppingcart-box{
	background: url("../webimages/shoppings1.jpg") no-repeat left top; width:1200px;
	margin: 0px auto; border-radius: 0px 0px 4px 4px;  overflow: hidden;  margin-top:10px; margin-bottom: 10px; position: relative; 
}
.shoppingstep2-box{
	background: url("../webimages/shoppings2.jpg") no-repeat left top; background-color:rgb(248,246,246);width:1200px;
	margin: 0px auto; border-radius: 0px 0px 4px 4px; _border: 1px solid rgb(234, 234, 234); overflow: hidden;  margin-top:10px; margin-bottom: 10px; position: relative; -moz-border-radius: 2px; -webkit-border-radius: 2px;	
	box-shadow: -1px 2px 2px rgba(0,0,0,0.3),1px 0px 2px rgba(0,0,0,0.3); -moz-box-shadow: rgba(0, 0, 0, 0.3) -2 2px 2px; -webkit-box-shadow: rgba(0, 0, 0, 0.3) -2 2px 2px; 
}
.shoppingstep3-box{
	background: url("../webimages/shoppings3.jpg") no-repeat left top; background-color:rgb(255,255,255);width:1200px;
	margin: 0px auto; border-radius: 0px 0px 4px 4px; _border: 1px solid rgb(234, 234, 234); overflow: hidden;  margin-top:10px; margin-bottom: 10px; position: relative; -moz-border-radius: 2px; -webkit-border-radius: 2px;	
	box-shadow: -1px 2px 2px rgba(0,0,0,0.3); -moz-box-shadow: rgba(0, 0, 0, 0.3) -2 2px 2px; -webkit-box-shadow: rgba(0, 0, 0, 0.3) -2 2px 2px;
}
.shoppingstep2-box p{
margin:15px 0px 0px 0px; !important; padding: 0px;text-align:left;font-size: 12px; font-weight: 500;font-family: "Microsoft YaHei" ! important;
}
.input-lab {
	width: 80px; text-align: right; padding-right:5px;display: inline-block;
}
.shoppingcart-box th{
	background: rgb(43, 39, 39);color: rgb(255, 255, 255); line-height: 26px; font-size: 12px; font-weight:600;font-family: "Microsoft YaHei" ! important;
}
.shoppingcart-box table{
	width:100%;text-align: center;margin:10px auto;
}
.shoppingcart-box td{
	text-align: center;vertical-align: middle; line-height: 26px; font-size: 12px; font-weight:400;font-family: "Microsoft YaHei" ! important; 
}
.shoppingstep2-box th{
	background: rgb(43, 39, 39);color: rgb(255, 255, 255); line-height: 26px; font-size: 12px; font-weight:600;font-family: "Microsoft YaHei" ! important;
}
.shoppingstep2-box table{
	text-align: center;margin:10px auto;
}
.shoppingstep2-box td{
	background-color:rgb(255,255,255);text-align: center;vertical-align: middle; line-height: 26px; font-size: 12px; font-weight:400;font-family: "Microsoft YaHei" ! important; 
}
.shoppingcart-head{
		background: url("../webimages/shoppingbag.png") no-repeat left top; height:30px;width:100%;margin-top:60px;
		color: rgb(181, 20, 45); line-height: 26px; font-size: 18px; font-weight:600;font-family: "Microsoft YaHei" ! important; padding: 5px 0px 7px 45px;
}
.shoppings2-head{
			height:30px;width:100%;margin-top:60px;
		color: rgb(181, 20, 45); line-height: 26px; font-size: 18px; font-weight:600;font-family: "Microsoft YaHei" ! important; padding: 5px 0px 7px 25px;
}
.shoppings3-head{
		height:30px;width:100%;margin-top:60px;
		color: rgb(181, 20, 45); line-height: 26px; font-size: 18px; font-weight:600;font-family: "Microsoft YaHei" ! important; padding: 5px 0px 7px 25px;
}
.shopping-content-head{
		height:30px;width:100%;margin-top:0px;border-bottom-color: rgb(20, 123, 20); border-bottom-width: 1px; border-bottom-style: solid;
		color: rgb(101, 98, 92); line-height: 16px; font-size: 16px; font-weight:600;font-family: "Microsoft YaHei" ! important; 
}
.shopping-content-head a{
	color:rgb(171,28,28);line-height: 13px;text-decoration: none;font-size: 12px;font-family: "Microsoft YaHei" ! important; margin-right:30px;float:right;
}
.shoppingcart-bottom{
	padding: 5px 20px 7px 0px;text-align: right !important;	border-top-color: rgb(20, 123, 20); border-top-width: 1px; border-top-style: solid;		border-bottom-color: rgb(20, 123, 20); border-bottom-width: 1px; border-bottom-style: solid;
}
.shoppingcart-bottom span{
	margin-left:10px;
}
.shoppingstep2-card{
	background:rgb(255,255,255);width:90%;margin: 15px auto;border-radius: 0px 0px 4px 4px; _border: 1px solid rgb(234, 234, 234); overflow: hidden;  margin-top:10px; margin-bottom: 10px; position: relative; -moz-border-radius: 2px; -webkit-border-radius: 2px;	
	box-shadow: -1px 2px 2px rgba(0,0,0,0.3),1px 0px 2px rgba(0,0,0,0.3); -moz-box-shadow: rgba(0, 0, 0, 0.3) -2 2px 2px; -webkit-box-shadow: rgba(0, 0, 0, 0.3) -2 2px 2px;
	color: rgb(0, 0, 0);  font-size: 12px; font-weight:500;font-family: "Microsoft YaHei" ! important; padding: 15px 0px 26px 45px;
}
#loadAdd .loadAddRight{
	display:block;float:right;margin-right:18px;font-size: 12px;font-family: "Microsoft YaHei" ! important;
}
#loadAddT .loadAddRight{
	display:block;float:right;margin-right:18px;font-size: 12px;font-family: "Microsoft YaHei" ! important;
}
.loadAddRight a{
	color:rgb(171,28,28);	text-decoration: none;
}
.loadAddRight a:hover{
	color:rgb(171,28,28);	text-decoration: none;
}
.usedaddress p{
margin:15px 0px 0px 0px; !important; padding: 0px;text-align:left;font-size: 12px; font-weight: 500;font-family: "Microsoft YaHei" ! important;
}
.newaddress{
	background:rgb(251,246,246);width:90%;margin: 15px auto;border-radius: 0px 0px 4px 4px; _border: 1px solid rgb(234, 234, 234); overflow: hidden;  margin-top:10px; margin-bottom: 10px; position: relative; -moz-border-radius: 2px; -webkit-border-radius: 2px;	
	box-shadow: -1px 2px 2px rgba(0,0,0,0.3),1px 0px 2px rgba(0,0,0,0.3); -moz-box-shadow:rgba(0, 0, 0, 0.3) -2 2px 2px; -webkit-box-shadow: rgba(0, 0, 0, 0.3) -2 2px 2px;
	color: rgb(0, 0, 0); line-height: 26px; font-size: 12px; font-weight:500;font-family: "Microsoft YaHei" ! important; padding: 25px 0px 26px 45px;
}
.userInfoeditbox{
	overflow:hidden;margin-top:10px;border-radius: 0px 0px 4px 4px; border: 1px solid rgb(234, 234, 234);-moz-border-radius: 2px; -webkit-border-radius: 2px;	
	box-shadow: 0px 1px 1px rgba(0,0,0,0.3); -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 1px; -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;width:100%;padding-top:35px;padding-bottom:35px;
}

.userInfoeditbox p{
margin:10px 10px 10px 50px; !important; padding: 0px;text-align:left;font-size: 12px; font-weight: 500;font-family: "Microsoft YaHei" ! important;
}
.useraddresseditbox{
	overflow:hidden;margin-top:10px;border-radius: 0px 0px 4px 4px; border: 1px solid rgb(234, 234, 234);-moz-border-radius: 2px; -webkit-border-radius: 2px;	
	box-shadow: 0px 1px 1px rgba(0,0,0,0.3); -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 1px; -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;width:100%;padding-top:35px;padding-bottom:35px;
}
.useraddresseditbox p{
margin:10px 10px 10px 50px; !important; width:100%;padding: 0px;text-align:left;font-size: 12px; font-weight: 500;font-family: "Microsoft YaHei" ! important;
}
#inviteContent{
	margin:0px;padding:10px 5px 5px 3px;width:90%;font-family: "Microsoft YaHei";
}
.helpleft{
		margin-top: 10px;margin-bottom:30px;background: url("../webimages/helper.png") no-repeat left top;float:left;width:200px;height:100%;
}
.helpleftcontent{
	margin-top: 36px;width:200px;height:100%;border-right-color: rgb(183, 179, 177); border-right-width: 1px; border-right-style: solid;overflow: hidden; line-height:25px;font-size: 12px; font-weight:400;font-family: "Microsoft YaHei" ! important;
}
#helpdeals{
		padding-bottom:20px;padding-top:10px;padding-left:10px;	border-bottom-width: 1px; border-bottom-style: dashed;border-bottom-color: rgb(183, 179, 177);
}
#helpdeals a{
	color:rgb(125,125,125);	text-decoration: none;
}
#helpdeals a:hover{
	color:rgb(0,0,0);	text-decoration: none;
}
#helpdeals span{line-height:25px;font-size: 15px; font-weight:800;font-family: "Microsoft YaHei" ! important;color: #8b4624;
	}
	
.helpnav{
	margin-left: 20px;margin-top: 36px;width:900px;font-family: "Microsoft YaHei" ! important;
}
.helpnav a{
	color:rgb(125,125,125);	text-decoration: none;
}
.helpnav a:hover{
	color:rgb(0,0,0);	text-decoration: none;
}
.ucenter{
		background:rgb(255,255,255);margin: 0px auto; border-radius: 0px 0px 4px 4px; _border: 1px solid rgb(234, 234, 234); width:100%;overflow: hidden;  margin-top:0px; margin-bottom: 10px; position: relative; -moz-border-radius: 2px; -webkit-border-radius: 2px;	
	box-shadow: -1px 2px 2px rgba(0,0,0,0.3),1px 0px 2px rgba(0,0,0,0.3); -moz-box-shadow: rgba(0, 0, 0, 0.3) -2 2px 2px; -webkit-box-shadow: rgba(0, 0, 0, 0.3) -2 2px 2px;
}
.ucenterleft{
		margin-top: 10px;margin-bottom:30px;background: url("../webimages/ucenterleft.png") no-repeat left top;float:left;width:200px;height:100%;
}
.ucenterleftcontent{
	margin-top: 36px;width:200px;height:100%;border-right-color: rgb(183, 179, 177); border-right-width: 1px; border-right-style: solid;overflow: hidden; line-height:25px;font-size: 12px; font-weight:400;font-family: "Microsoft YaHei" ! important;
}
.ucenterright{
	margin-top: 10px;margin-left:10px;float:left;_margin-left:8px;
	width:990px;_width:970px; line-height:25px;font-size: 12px; font-weight:400;font-family: "Microsoft YaHei" ! important;
}
.ucenterright-head{
	overflow:hidden;background: url("../webimages/info-box-bg.png") ; width:100%;_width:955px;margin: 0px 0px -10px 0px; padding: 7px 0px 10px 28px; height: 22px; color: rgb(255, 255, 255); line-height: 22px; font-size: 15px; font-weight: 800;font-family: "Microsoft YaHei" ! important;
}
.ucenterindex a{
	color:rgb(0,0,0);	text-decoration: none; font-weight:800;
}
.ucenterindex a:hover{
	color:rgb(153,0,0);	text-decoration: none;font-weight:800;
}
.ucenterredblack a{
	color:rgb(0,0,0);	text-decoration: none; 
}
.ucenterredblack a:hover{
	color:rgb(153,0,0);	text-decoration: none;
}
#ucenterwelcome{
	padding-bottom:20px;padding-top:10px;padding-left:10px;	border-bottom-width: 1px; border-bottom-style: dashed;border-bottom-color: rgb(183, 179, 177);
}
#ucenterdeals{
		padding-bottom:20px;padding-top:10px;padding-left:10px;	border-bottom-width: 1px; border-bottom-style: dashed;border-bottom-color: rgb(183, 179, 177);
}
#ucenterdeals a{
	color:rgb(125,125,125);	text-decoration: none;
}
#ucenterdeals a:hover{
	color:rgb(0,0,0);	text-decoration: none;
}
#ucenterdeals span{line-height:25px;font-size: 16px; font-weight:700;font-family: "Microsoft YaHei" ! important
	}
#myaccount{
	overflow:hidden;margin-top:10px;padding-bottom:10px;padding-top:10px;padding-left:10px; border-radius: 0px 0px 4px 4px; _border: 1px solid rgb(234, 234, 234);-moz-border-radius: 2px; -webkit-border-radius: 2px;	
	box-shadow: -1px 2px 2px rgba(0,0,0,0.3); -moz-box-shadow: rgba(0, 0, 0, 0.3) -2 2px 2px; -webkit-box-shadow: rgba(0, 0, 0, 0.3) -2 2px 2px;width:100%;height:90px;
	}
#myaccount a{
	color:rgb(0,0,0);	text-decoration: none;
}
#myaccount a:hover{
	color:rgb(175,10,10);	text-decoration: none;
}
#myaccount ul{
	float:left;margin-right:200px;
	}
#myaccount ul li{
	 color:rgb(0,0,0);line-height: 22px; font-size: 12px;font-family: "Microsoft YaHei" ! important;
	}

#suggestion{
	overflow:hidden;margin-top:10px;padding-bottom:10px;padding-top:10px;padding-left:10px; border-radius: 0px 0px 4px 4px; _border: 1px solid rgb(234, 234, 234);-moz-border-radius: 2px; -webkit-border-radius: 2px;	
	box-shadow: -1px 2px 2px rgba(0,0,0,0.3); -moz-box-shadow: rgba(0, 0, 0, 0.3) -2 2px 2px; -webkit-box-shadow: rgba(0, 0, 0, 0.3) -2 2px 2px;width:100%;
	}
	
#suggestion p{
	width:100%;margin-top:10px;margin-left:20px;
}
#returnDetail{
	overflow:hidden;margin-top:10px;padding-bottom:10px;padding-top:10px;padding-left:10px; border-radius: 0px 0px 4px 4px; _border: 1px solid rgb(234, 234, 234);-moz-border-radius: 2px; -webkit-border-radius: 2px;	
	box-shadow: -2px 2px 2px rgba(0,0,0,0.3),2px 0px 2px rgba(0,0,0,0.3); -moz-box-shadow:rgba(0, 0, 0, 0.3) -2 2px 2px;-webkit-box-shadow:rgba(0, 0, 0, 0.3) -2 2px 2px;width:100%;
	}
	
#returnDetail p{
	width:100%;margin-top:10px;margin-left:20px;
}
#changepwd-box{
	overflow:hidden;margin-top:10px;padding-bottom:50px;padding-top:50px;padding-left:10px; border-radius: 0px 0px 4px 4px; _border: 1px solid rgb(234, 234, 234);-moz-border-radius: 2px; -webkit-border-radius: 2px;	
	box-shadow: -1px 2px 2px rgba(0,0,0,0.3),1px 0px 2px rgba(0,0,0,0.3); -moz-box-shadow: rgba(0, 0, 0, 0.3) -2 2px 2px;-webkit-box-shadow: rgba(0, 0, 0, 0.3) -2 2px 2px;width:100%;
	}
#changepwd-box p{
	margin-left:190px;
}
 .changepwd-tip {
 margin-top:-3px !important; padding-left:265px; padding-top:0px;text-align:left;font-size: 11px; font-weight: 500;font-family: "Microsoft YaHei" ! important;color:#666666;
}
.changepwd-lab {
	width: 70px; text-align: right; padding-right:5px;display: inline-block;
}
#showcard  a{
	color:rgb(171,28,28);	text-decoration: none; font-size: 12px; font-weight:600;font-family: "Microsoft YaHei";
}
#showcard  a:hover{
	color:rgb(171,28,28);	text-decoration: none;font-size: 12px; font-weight:600;font-family: "Microsoft YaHei";
}
#showcard img{
	vertical-align:middle;
}
#loadcard table{
	margin-left:5px;margin-top:30px;margin-bottom:20px;
}
#loadcard table td{
	width:150px;text-align:center;margin-top:10px;padding-top:10px; vertical-align:middle;line-height:30px;
}
#myaddress{
	overflow:hidden;margin-top:10px;padding-bottom:10px;padding-top:10px;padding-left:10px; border-radius: 0px 0px 4px 4px; _border: 1px solid rgb(234, 234, 234);-moz-border-radius: 2px; -webkit-border-radius: 2px;	
	box-shadow: -2px 2px 2px rgba(0,0,0,0.3); -moz-box-shadow: rgba(0, 0, 0, 0.3) -2 2px 2px; -webkit-box-shadow: rgba(0, 0, 0, 0.3) -2 2px 2px;width:100%;
	}
	
#myaddress table{
	width:100%;text-align: center;margin:10px auto;overflow:hidden;
}
#myaddress td.r{
	width:10%;text-align: right; line-height: 26px; font-size: 12px; font-weight:400;font-family: "Microsoft YaHei" ! important;padding-top:10px;
}
#myaddress td.l{
	width:10%;text-align: left; line-height: 26px; font-size: 12px; font-weight:400;font-family: "Microsoft YaHei" ! important;padding-top:10px;
}
#myaddress td.rl{
	padding-bottom:10px;border-bottom-width: 1px; border-bottom-style: dashed;border-bottom-color: rgb(183, 179, 177);width:10%;text-align: right; line-height: 26px; font-size: 12px; font-weight:400;font-family: "Microsoft YaHei" ! important;padding-top:10px;
}
#myaddress td.ll{
	padding-bottom:10px;border-bottom-width: 1px; border-bottom-style: dashed;border-bottom-color: rgb(183, 179, 177);text-align: left; line-height: 26px; font-size: 12px; font-weight:400;font-family: "Microsoft YaHei" ! important;padding-top:10px;
}
#myaddress td.rs{
	width:15%;text-align: center; vertical-align:middle;line-height: 26px; font-size: 12px; font-weight:400;font-family: "Microsoft YaHei" ! important;padding-top:10px;
}
#myaddress td.rs a{
	color:rgb(153,0,0);	text-decoration: none; 
}
#myaddress td.rs a:hover{
	color:rgb(153,0,0);	text-decoration: none; 
}
#weibo{
	margin: 0px auto;overflow:hidden;padding-bottom:10px;padding-top:10px; width:1190px;font-size:14px
	}
#article-content{
	 margin:70px auto;width:1000px;font-size:18px;line-height:35px;text-align:left;font-family: "Microsoft YaHei" ;padding-bottom:20px;
}	
#article-title{
	margin: 70px auto;overflow:hidden;padding-bottom:20px;padding-top:10px; width:1190px;font-size:24px;border-bottom:1px dashed rgb(234, 234, 234);
	}
#article-title h1{
	font-weight:800;font-size:34px;line-height:35px;text-align:center;font-family: "Microsoft YaHei" ;
	}
#article-title ul{border-radius: 4px 4px 4px 4px;color:rgb(255,255,255);list-style-type: disc;margin:20px auto;font-size: 18px; background:rgb(0,0,0);width:300px;height:70px;font-family: "Microsoft YaHei" ! important;}
#article-title ul li{margin-top:2px;padding-left:18px;  }
#article-title ul li:first-child{padding-top:5px;}
#article-title ul li h2{font-size: 18px;color:rgb(255,255,255);font-family: "Microsoft YaHei" ! important;font-weight:500;}
#article-sign{margin-bottom:60px;padding-bottom:15px;border-bottom:1px  solid rgb(234, 234, 234);width:100%;hight:100%}
#article-sign-right{background: url('../webimages/articlesign.jpg') no-repeat left top;float:right;margin-right:130px;_margin-right:50px;margin-top:50px;margin-bottom:50px;width:460px;height:80px;font-size: 38px;font-family: 'Microsoft YaHei' ! important;font-weight:900;}
#article-sign-noborder{margin-bottom:60px;margin-top:160px;padding-bottom:15px; width:100%;hight:100%}
.articlelist-box{
	background:rgb(255,255,255);margin: 10px auto; border-radius: 1px 1px 2px 2px; _border: 1px solid rgb(234, 234, 234); width:100%;  
	 padding-top:10px;padding-bottom:30px;_padding-bottom:0px;position: relative; -moz-border-radius: 0px; -webkit-border-radius: 0px;	
	box-shadow: -1px 1px 2px rgba(0,0,0,0.3),1px -1px 2px rgba(0,0,0,0.3); -moz-box-shadow: rgba(0, 0, 0, 0.3) -1 1px 2px; -webkit-box-shadow: rgba(0, 0, 0, 0.3) -1 1px 2px;
}
.articlelist-box a{
	color:rgb(0, 0, 0);	text-decoration: none;
}
.articlelist-box a:hover{
	color:rgb(181, 20, 45);	text-decoration: none;
}
#articlelist{
	 margin:70px auto;_margin:-30px auto;width:1000px;font-size:18px;line-height:35px;text-align:left;font-family: "Microsoft YaHei" ;padding-bottom:20px;
}
#articlelist-title{
	margin: 70px auto;overflow:hidden;padding-bottom:20px;padding-top:10px; width:1190px;font-size:24px;border-bottom:1px dashed rgb(234, 234, 234);
	}
#articlelist-title ul{border-radius: 4px 4px 4px 4px;color:rgb(255,255,255);list-style-type: disc;margin:20px auto;font-size: 18px; background:rgb(0,0,0);width:500px;height:70px;font-family: "Microsoft YaHei" ! important;}
#articlelist-title ul li h2{padding-top:20px;padding-left:35px;font-size: 18px;color:rgb(255,255,255);font-family: "Microsoft YaHei" ! important;font-weight:500;}
#articlelist-title h1{
	font-weight:800;font-size:34px;line-height:35px;text-align:center;font-family: "Microsoft YaHei" ;
	}
#articlelist ul li{
	_background-image:url('../webimages/dash.gif');_background-repeat:repeat-x;_background-position:center;background: url('../webimages/dash.gif')repeat-x center;margin-top:0px; color:rgb(0,0,0);
}
#articlelist-name{
	padding-left:80px;padding-right:30px;display:inline-block;background:rgb(255,255,255)
}
#articlelist-date{
	float:right;padding-right:80px;padding-left:30px;display:inline-block;background:rgb(255,255,255);
}
#mycount{
	overflow:hidden;margin-top:10px;padding-bottom:10px;padding-top:10px;padding-left:10px; border-radius: 0px 0px 4px 4px; _border: 1px solid rgb(234, 234, 234);-moz-border-radius: 2px; -webkit-border-radius: 2px;	
	box-shadow: -1px 2px 2px rgba(0,0,0,0.3); -moz-box-shadow: rgba(0, 0, 0, 0.3) -2 2px 2px; -webkit-box-shadow: rgba(0, 0, 0, 0.3) -2 2px 2px;width:100%;
	}
#mycount p{
	width:100%;margin-top:10px;margin-left:20px;
}
.cuuntlist{
	overflow:hidden;margin-top:10px;padding-bottom:10px;padding-top:10px;padding-left:10px; border-radius: 0px 0px 4px 4px; _border: 1px solid rgb(234, 234, 234);-moz-border-radius: 2px; -webkit-border-radius: 2px;	
	box-shadow: -1px 2px 2px rgba(0,0,0,0.3); -moz-box-shadow: rgba(0, 0, 0, 0.3) -2 2px 2px; -webkit-box-shadow: rgba(0, 0, 0, 0.3) -2 2px 2px;width:100%;
}
.cuuntlist p{
	width:100%;margin-top:10px;margin-left:20px;
}
.cuuntlist table{
	width:100%;text-align:center;margin-top:30px;margin-bottom:20px;
}
.cuuntlist table td{
	width:47%;text-align:center;margin-top:10px;padding-top:20px; vertical-align:middle;line-height:30px;
}
.cuuntlist img{
 	vertical-align:middle;
}
#messagedetail{
	margin-top:10px;padding-bottom:10px;padding-top:10px; border-radius: 4px 4px 4px 4px; _border: 1px solid rgb(234, 234, 234);-moz-border-radius: 2px; -webkit-border-radius: 2px;	
	box-shadow: -1px 2px 2px rgba(0,0,0,0.3); -moz-box-shadow: rgba(0, 0, 0, 0.3) -2 2px 2px; -webkit-box-shadow: rgba(0, 0, 0, 0.3) -2 2px 2px;width:100%;overflow:hidden;
}
#messagedetail table{
	width:100%;margin:10px auto;
}
#messagedetail td{
	text-align: left;vertical-align: middle; line-height: 26px; font-size: 12px; font-weight:400;font-family: "Microsoft YaHei" ! important;padding-top:10px;padding-left:30px;padding-right:30px;
}
#messagedetail th{
	word-break:keep-all;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;text-align: center;vertical-align: middle; background: rgb(43, 39, 39);color: rgb(255, 255, 255); line-height: 26px; font-size: 12px; font-weight:600;font-family: "Microsoft YaHei" ! important;	
}
#messagelist{
	margin-top:10px;padding-bottom:10px;padding-top:10px; border-radius: 4px 4px 4px 4px; _border: 1px solid rgb(234, 234, 234);-moz-border-radius: 2px; -webkit-border-radius: 2px;	
	box-shadow: -1px 2px 2px rgba(0,0,0,0.3); -moz-box-shadow: rgba(0, 0, 0, 0.3) -2 2px 2px; -webkit-box-shadow: rgba(0, 0, 0, 0.3) -2 2px 2px;width:100%;overflow:hidden;
}
#messagelist table{
	width:100%;margin:10px auto;table-layout:fixed;
}
#messagelist td{
	word-break:keep-all;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;text-align: center;vertical-align: middle; line-height: 26px; font-size: 12px; font-weight:400;font-family: "Microsoft YaHei" ! important;padding-top:10px;
}
#messagelist th{
	word-break:keep-all;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;text-align: center;vertical-align: middle; background: rgb(43, 39, 39);color: rgb(255, 255, 255); line-height: 26px; font-size: 12px; font-weight:600;font-family: "Microsoft YaHei" ! important;	
}

#messagelist td a{
	color:rgb(0,0,0);	text-decoration: none; 
}
#messagelist td a:hover{
	color:rgb(153,0,0);	text-decoration: none; 
}
.complainuser{
	margin-top:10px;padding-bottom:10px;padding-top:10px;padding-left:10px; border-radius: 4px 4px 4px 4px; _border: 1px solid rgb(234, 234, 234);-moz-border-radius: 2px; -webkit-border-radius: 2px;	
	box-shadow: -1px 2px 2px rgba(0,0,0,0.3); -moz-box-shadow: rgba(0, 0, 0, 0.3) -2 2px 2px; -webkit-box-shadow: rgba(0, 0, 0, 0.3) -2 2px 2px;width:100%;overflow:hidden;
}
.complainsys{
	margin-top:10px;padding-bottom:10px;padding-top:10px;padding-left:10px; border-radius: 4px 4px 4px 4px; _border: 1px solid rgb(234, 234, 234);-moz-border-radius: 2px; -webkit-border-radius: 2px;	
	box-shadow: -1px 2px 2px rgba(0,0,0,0.3); -moz-box-shadow:  rgba(0, 0, 0, 0.3) -2 2px 2px; -webkit-box-shadow:  rgba(0, 0, 0, 0.3) -2 2px 2px;width:100%;overflow:hidden;color:rgb(153,0,0);background-color:rgb(246,246,246);
}
#cardlist{
	margin-top:10px;padding-bottom:10px;padding-top:10px; border-radius: 4px 4px 4px 4px; _border: 1px solid rgb(234, 234, 234);-moz-border-radius: 2px; -webkit-border-radius: 2px;	
	box-shadow: -1px 2px 2px rgba(0,0,0,0.3); -moz-box-shadow:  rgba(0, 0, 0, 0.3) -2 2px 2px; -webkit-box-shadow:  rgba(0, 0, 0, 0.3) -2 2px 2px;width:100%;overflow:hidden;
}
#cardlist table{
	width:100%;text-align: center;margin:10px auto;overflow:hidden;
}
#cardlist td{
	width:16%;text-align: center;vertical-align: middle; line-height: 26px; font-size: 12px; font-weight:400;font-family: "Microsoft YaHei" ! important;padding-top:10px;
}
#cardlist th{
	background: rgb(43, 39, 39);color: rgb(255, 255, 255); line-height: 26px; font-size: 12px; font-weight:600;font-family: "Microsoft YaHei" ! important;	
}

#cardlist td a{
	color:rgb(0,0,0);	text-decoration: none; 
}
#cardlist td a:hover{
	color:rgb(153,0,0);	text-decoration: none; 
}
#cardlist p{
	width:100%;margin-top:10px;margin-left:20px;
}
#myorder{
	overflow:hidden;margin-top:10px;padding-bottom:10px;padding-top:10px;padding-left:10px; border-radius: 0px 0px 4px 4px; _border: 1px solid rgb(234, 234, 234);-moz-border-radius: 2px; -webkit-border-radius: 2px;	
	box-shadow: -1px 2px 2px rgba(0,0,0,0.3); -moz-box-shadow:  rgba(0, 0, 0, 0.3) -2 2px 2px; -webkit-box-shadow:  rgba(0, 0, 0, 0.3) -2 2px 2px;width:100%;
	}
	
#myorder table{
	width:100%;text-align: center;margin:10px auto;overflow:hidden;
}
#myorder td.r{
	width:10%;text-align: right; line-height: 26px; font-size: 12px; font-weight:400;font-family: "Microsoft YaHei" ! important;padding-top:10px;
}
#myorder td.l{
	width:20%;text-align: left; line-height: 26px; font-size: 12px; font-weight:400;font-family: "Microsoft YaHei" ! important;padding-top:10px;
}
#prolist{
	margin-top:10px;padding-bottom:10px;padding-top:10px;padding-left:10px; border-radius: 4px 4px 4px 4px; _border: 1px solid rgb(234, 234, 234);-moz-border-radius: 2px; -webkit-border-radius: 2px;	
	box-shadow: -1px 2px 2px rgba(0,0,0,0.3); -moz-box-shadow:  rgba(0, 0, 0, 0.3) -2 2px 2px; -webkit-box-shadow:  rgba(0, 0, 0, 0.3) -2 2px 2px;width:100%;overflow:hidden;
}
#prolist table{
	width:100%;text-align: center;margin:10px auto;overflow:hidden;
}
#prolist td{
	width:16%;text-align: center;padding-bottom:10px;vertical-align: middle; line-height: 26px; font-size: 12px; font-weight:400;font-family: "Microsoft YaHei" ! important;padding-top:10px;border-bottom-width: 1px; border-bottom-style: dashed;border-bottom-color: rgb(183, 179, 177);
}
#prolist td a{
	color:rgb(0,0,0);	text-decoration: none;
}
#prolist td a:hover{
	color:rgb(171,28,28);	text-decoration: none;
}
#prolist th{
	background: rgb(43, 39, 39);color: rgb(255, 255, 255); line-height: 26px; font-size: 12px; font-weight:600;font-family: "Microsoft YaHei" ! important;	
}
#dlist{
	margin-top:10px;padding-bottom:10px;padding-top:10px;padding-left:10px; border-radius: 4px 4px 4px 4px; _border: 1px solid rgb(234, 234, 234);-moz-border-radius: 2px; -webkit-border-radius: 2px;	
	box-shadow: -1px 2px 2px rgba(0,0,0,0.3); -moz-box-shadow:  rgba(0, 0, 0, 0.3) -2 2px 2px; -webkit-box-shadow:  rgba(0, 0, 0, 0.3) -2 2px 2px;width:100%;overflow:hidden;
}
#orderDetailGoBack{
	float:right; margin-right:30px;margin-top:10px;
}
#GoBack{
	float:right; margin-right:10px;margin-top:10px;
}
#editinfo{
	float:right; margin-right:0px;margin-top:10px;margin-bottom:20px;
}
#orderDetailGoBack a{
	color:rgb(0,0,0);	text-decoration: none; 
}
#orderDetailGoBack a:hover{
	color:rgb(0,0,0);	text-decoration: none; 
}
#dlist table{
	width:100%;text-align: center;margin:10px auto;overflow:hidden;
}
#dlist td{
	width:16%;text-align: center;vertical-align: middle; line-height: 26px; font-size: 12px; font-weight:400;font-family: "Microsoft YaHei" ! important;padding-top:10px;
}
#dlist th{
	background: rgb(43, 39, 39);color: rgb(255, 255, 255); line-height: 26px; font-size: 12px; font-weight:600;font-family: "Microsoft YaHei" ! important;	
}
.dlist-head{
		background: url("../webimages/deallistsl.png") no-repeat left top; 	height:30px;width:100%;margin-top:10px;
		color: rgb(181, 20, 45); line-height: 16px; font-size: 18px; font-weight:600;font-family: "Microsoft YaHei" ! important; padding: 5px 0px 7px 45px;
}

#dlist td a{
	color:rgb(0,0,0);	text-decoration: none; 
}
#dlist td a:hover{
	color:rgb(153,0,0);	text-decoration: none; 
}
#hdlist{
	margin-top:10px;padding-bottom:10px;padding-top:10px; border-radius: 4px 4px 4px 4px; _border: 1px solid rgb(234, 234, 234);-moz-border-radius: 2px; -webkit-border-radius: 2px;	
	box-shadow: -1px 2px 2px rgba(0,0,0,0.3); -moz-box-shadow:  rgba(0, 0, 0, 0.3) -2 2px 2px; -webkit-box-shadow:  rgba(0, 0, 0, 0.3) -2 2px 2px;width:100%;overflow:hidden;
}
#hdlist table{
	width:100%;text-align: center;margin:10px auto;overflow:hidden;
}
#hdlist td{
	width:16%;text-align: center;vertical-align: middle; line-height: 26px; font-size: 12px; font-weight:400;font-family: "Microsoft YaHei" ! important;padding-top:10px;
}
#hdlist th{
	background: rgb(43, 39, 39);color: rgb(255, 255, 255); line-height: 26px; font-size: 12px; font-weight:600;font-family: "Microsoft YaHei" ! important;	
}

#hdlist td a{
	color:rgb(0,0,0);	text-decoration: none; 
}
#hdlist td a:hover{
	color:rgb(153,0,0);	text-decoration: none; 
}
#rdlist{
	margin-top:10px;padding-bottom:10px;padding-top:10px; border-radius: 4px 4px 4px 4px; _border: 1px solid rgb(234, 234, 234);-moz-border-radius: 2px; -webkit-border-radius: 2px;	
	box-shadow: -1px 2px 2px rgba(0,0,0,0.3); -moz-box-shadow:  rgba(0, 0, 0, 0.3) -2 2px 2px; -webkit-box-shadow:  rgba(0, 0, 0, 0.3) -2 2px 2px;width:100%;overflow:hidden;
}
#rdlist table{
	width:100%;text-align: center;margin:10px auto;overflow:hidden;
}
#rdlist td{
	width:24%;text-align: center;padding-bottom:10px;vertical-align: middle; line-height: 26px; font-size: 12px; font-weight:400;font-family: "Microsoft YaHei" ! important;padding-top:10px;border-bottom-width: 1px; border-bottom-style: dashed;border-bottom-color: rgb(183, 179, 177);
}
#rdlist th{
	background: rgb(43, 39, 39);color: rgb(255, 255, 255); line-height: 26px; font-size: 12px; font-weight:600;font-family: "Microsoft YaHei" ! important;	
}

#rdlist td a{
	color:rgb(0,0,0);	text-decoration: none; 
}
#rdlist td a:hover{
	color:rgb(153,0,0);	text-decoration: none; 
}
#gobuy-right{
		padding-top:20px; padding-right:20px;text-align: right !important;
}
#gobuy-left{
		padding-top:20px; padding-left:20px;text-align: left !important;
}
.box-body {
	
}
.box-body ul {
	list-style: none; margin: 10px 0px 0px !important; padding: 0px;
}
.box-body ul li {
	padding: 0px 20px;
}
.box-body ul li a {
	color: rgb(25, 25, 25); line-height: 30px; font-family: "Oswald", sans-serif; font-size: 16px; text-decoration: none;
}
.box-body ul li a:hover {
	color: rgb(140, 140, 140);
}
.box-body ul li.category-products a:hover {
	color: rgb(140, 140, 140);
}
.box-body ul li .category-subs-parent-selected {
	color: rgb(140, 140, 140);
}
.box-body ul li .category-subs-selected {
	color: rgb(140, 140, 140);
}
.box-body ul li.category-products {
	text-transform: lowercase; padding-left: 25px !important;
}
.box-body ol {
	list-style: none; margin: 10px 0px 0px !important; padding: 0px;
}
.box-body ol li {
	padding: 0px 20px;
}
.box-body ol li a {
	color: rgb(25, 25, 25); line-height: 30px; font-family: "Oswald", sans-serif; font-size: 16px; text-decoration: none;
}
.box-body ol li a:hover {
	color: rgb(140, 140, 140);
}
#categories {
	
}
#moreinformation {
	
}
#information {
	
}
#bestsellers {
	
}
#ezpages {
	
}
#orderhistory {
	
}
#orderhistory .box-body img {
	background: rgb(255, 255, 255); margin: 2px 0px; padding: 2px; border: 1px solid rgb(170, 170, 170); vertical-align: middle;
}
#orderhistory .no-bg {
	padding: 0px;
}
#orderhistory a {
	display: inline;
}
#bannerbox {
	
}
#bannerbox2 {
	
}
#bannerboxall {
	
}
#featured a img {
	margin: 0px 0px 8px;
}
#whatsnew a img {
	margin: 0px 0px 8px;
}
#specials a img {
	margin: 0px 0px 8px;
}
#reviews a img {
	margin: 0px 0px 8px;
}
#manufacturerinfo img {
	margin: 0px 0px 8px;
}
#productnotifications img {
	margin: 0px 0px 8px;
}
#reviews img {
	margin: 5px 0px 0px;
}
#featured {
	height: 349px;
}
#featured .box-head {
	position: relative; z-index: 9999;
}
#featured .sideBoxContent {
	height: 344px; position: relative;
}
* + html #featured .sideBoxContent {
	height: 376px;
}
#featured .inner {
	top: -30px; overflow: hidden; position: relative;
}
* + html #featured .inner {
	top: 0px; margin-top: -26px;
}
#featured .img {
	margin: 34px 0px 0px; text-align: center;
}
#featured .name {
	width: 160px; color: rgb(140, 140, 140); line-height: 20px; font-size: 14px; font-weight: normal; margin-bottom: 7px; display: inline-block;
}
#featured .name:hover {
	color: rgb(0, 0, 0);
}
#featured .sb-info {
	padding: 10px 15px 0px 31px;
}
#featured .info-box {
	background: url("../webimages/info-box-bg.png") left top; padding: 0px 30px; left: 0px; width: 158px; height: 376px; bottom: -376px; overflow: hidden; position: absolute;
}
#featured .txt {
	margin: 26px 0px 0px; color: rgb(174, 174, 174); line-height: 20px; font-size: 14px; text-decoration: none; display: block;
}
#featured .txt:hover {
	color: rgb(255, 255, 255);
}
#featured .button {
	left: 30px; bottom: 30px; position: absolute;
}
#featured .box-body .normalprice {
	color: rgb(148, 148, 148); line-height: 22px; font-family: "Playfair Display", serif; font-size: 17px; font-weight: normal; text-decoration: line-through;
}
#featured .box-body .productSpecialPrice {
	color: rgb(25, 25, 25); line-height: 30px; font-family: "Playfair Display", serif; font-size: 27px; font-weight: normal;
}
.productSalePrice {
	color: rgb(25, 25, 25); line-height: 30px; font-family: "Playfair Display", serif; font-size: 27px; font-weight: normal;
}
.productSpecialPriceSale {
	color: rgb(25, 25, 25); line-height: 30px; font-family: "Playfair Display", serif; font-size: 27px; font-weight: normal;
}
#whatsnew {
	height: 349px;
}
#whatsnew .box-head {
	position: relative; z-index: 9999;
}
#whatsnew .sideBoxContent {
	height: 344px; position: relative;
}
* + html #whatsnew .sideBoxContent {
	height: 376px;
}
#whatsnew .inner {
	top: -30px; overflow: hidden; position: relative;
}
* + html #whatsnew .inner {
	top: 0px; margin-top: -26px;
}
#whatsnew .img {
	margin: 34px 0px 0px; text-align: center;
}
#whatsnew .name {
	width: 160px; color: rgb(140, 140, 140); line-height: 20px; font-size: 14px; font-weight: normal; margin-bottom: 7px; display: inline-block;
}
#whatsnew .name:hover {
	color: rgb(0, 0, 0);
}
#whatsnew .sb-info {
	padding: 10px 15px 0px 31px;
}
#whatsnew .info-box {
	background: url("../webimages/info-box-bg.png") left top; padding: 0px 30px; left: 0px; width: 158px; height: 376px; bottom: -376px; overflow: hidden; position: absolute;
}
#whatsnew .txt {
	margin: 26px 0px 0px; color: rgb(174, 174, 174); line-height: 20px; font-size: 14px; text-decoration: none; display: block;
}
#whatsnew .txt:hover {
	color: rgb(255, 255, 255);
}
#whatsnew .button {
	left: 30px; bottom: 30px; position: absolute;
}
#whatsnew .box-body .normalprice {
	color: rgb(148, 148, 148); line-height: 22px; font-family: "Playfair Display", serif; font-size: 17px; font-weight: normal; text-decoration: line-through;
}
#whatsnew .box-body .productSpecialPrice {
	color: rgb(25, 25, 25); line-height: 30px; font-family: "Playfair Display", serif; font-size: 27px; font-weight: normal;
}
.productSalePrice {
	color: rgb(25, 25, 25); line-height: 30px; font-family: "Playfair Display", serif; font-size: 27px; font-weight: normal;
}
.productSpecialPriceSale {
	color: rgb(25, 25, 25); line-height: 30px; font-family: "Playfair Display", serif; font-size: 27px; font-weight: normal;
}
#specials {
	height: 349px;
}
#specials .box-head {
	background: url("../webimages/box-head.png") no-repeat left top; position: relative; z-index: 9999;
}
#specials .sideBoxContent {
	height: 344px; position: relative;
}
* + html #specials .sideBoxContent {
	height: 376px;
}
#specials .inner {
	top: -30px; overflow: hidden; position: relative;
}
* + html #specials .inner {
	top: 0px; margin-top: -26px;
}
#specials .img {
	margin: 34px 0px 0px; text-align: center;
}
#specials .name {
	width: 160px; color: rgb(140, 140, 140); line-height: 20px; font-size: 14px; font-weight: normal; margin-bottom: 7px; display: inline-block;
}
#specials .name:hover {
	color: rgb(0, 0, 0);
}
#specials .desc {
	padding: 10px 15px 0px 31px;
}
#specials .info-box {
	background: url("../webimages/info-box-bg.png") left top; padding: 0px 30px; left: 0px; width: 158px; height: 376px; bottom: -376px; overflow: hidden; position: absolute;
}
#specials .txt {
	margin: 26px 0px 0px; color: rgb(174, 174, 174); line-height: 20px; font-size: 14px; text-decoration: none; display: block;
}
#specials .txt:hover {
	color: rgb(255, 255, 255);
}
#specials .button {
	left: 30px; bottom: 30px; position: absolute;
}
#specials .box-body .normalprice {
	color: rgb(148, 148, 148); line-height: 22px; font-family: "Playfair Display", serif; font-size: 17px; font-weight: normal; text-decoration: line-through;
}
#specials .box-body .productSpecialPrice {
	color: rgb(25, 25, 25); line-height: 30px; font-family: "Playfair Display", serif; font-size: 27px; font-weight: normal;
}
.productSalePrice {
	color: rgb(25, 25, 25); line-height: 30px; font-family: "Playfair Display", serif; font-size: 27px; font-weight: normal;
}
.productSpecialPriceSale {
	color: rgb(25, 25, 25); line-height: 30px; font-family: "Playfair Display", serif; font-size: 27px; font-weight: normal;
}
#reviews {
	
}
#reviews .box-body {
	text-align: center;
}
#reviews .img {
	margin: 4px 0px 0px; text-align: center; display: inline-block;
}
#manufacturerinfo {
	
}
#productnotifications {
	
}
#productnotifications .box-body {
	padding: 10px 0px 0px; text-align: center;
}
#search {
	
}
#search .box-body {
	overflow: hidden; padding-top: 15px;
}
#search input {
	padding: 0px; border: 0px solid currentColor; vertical-align: middle; float: left;
}
#search .input1 {
	background: rgb(254, 254, 254); padding: 6px 5px 5px; border: 1px solid rgb(232, 232, 232); width: 128px; font-style: italic; margin-right: 3px; margin-left: 8px; float: left;
}

#manufacturers {
	
}
#manufacturers .box-body {
	text-align: center; padding-top: 15px;
}
#currencies {
	
}
#currencies .box-body {
	text-align: center; padding-top: 15px;
}
#currencies select {
	width: 90%;
}
#tellafriend {
	
}
#tellafriend .box-body {
	text-align: center; padding-top: 15px;
}
#tellafriend .no-border input {
	padding: 0px; border: 0px solid currentColor;
}
#recordcompanies {
	
}
#recordcompanies .box-body {
	text-align: center;
}
#musicgenres {
	
}
#musicgenres .box-body {
	text-align: center;
}
#languages {
	
}
#languages .box-body {
	text-align: center; padding-top: 15px;
}
#whosonline {
	
}
#whosonline .box-body {
	text-align: center; padding-top: 15px;
}
#documentcategories {
	
}
#shoppingcart {
	
}
#shoppingcart .cart_line {
	
}
#shoppingcart #cartBoxEmpty {
	text-align: center; padding-top: 15px;
}
#shoppingcart .price {
	padding-right: 15px;
}
